.mytable {
  text-align: center;
  color:rgb(101, 72, 170);
  background-color: rgb(192, 219, 193);

}

.mybutton {
  text-align: right;
  /* color:rgb(101, 72, 170); 
  background-color: rgb(192, 219, 193);  */

}

